# /etc/systemd/system/celerybeat.service
[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=celery
Group=celery
EnvironmentFile=/home/ubuntu/Dev/posthog/celery/celery.conf
#ExecStartPre=-/bin/mkdir -p /home/ubuntu/Dev/posthog/celery
#ExecStartPre=-/bin/chown -R celery:celery /home/ubuntu/Dev/posthog/celery
#ExecStartPre=-/bin/chmod -R 770 /home/ubuntu/Dev/posthog/celery
WorkingDirectory=/home/ubuntu/Dev/posthog/
ExecStart=/bin/sh -c '${CELERY_BIN} \
  -A ${CELERY_APP} ${CELERYD_NODES} \
  -B --scheduler=redbeat.RedBeatScheduler --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait ${CELERYD_NODES}\
  --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'
ExecReload=/bin/sh -c '${CELERY_BIN} -A ${CELERY_APP} ${CELERYD_NODES}\
  -B --scheduler=redbeat.RedBeatScheduler --pidfile=${CELERYD_PID_FILE} \
  --logfile=${CELERYD_LOG_FILE} --loglevel=${CELERYD_LOG_LEVEL} ${CELERYD_OPTS}'

[Install]
WantedBy=multi-user.target
