venv
env
*.pyc
staticfiles
.env
.env.development
settings.yml
.DS_Store
debug.log
*.swp
*.swo
impliu/static/CACHE/*
node_modules/*
*.code-workspace
node_modules
.vscode/*
frontend/.cache/
.mypy_cache
frontend/yarn-error.log
.idea
celerybeat-schedule
celerybeat.pid
yarn-error.log
.yalc
yalc.lock
bin/
include/
lib/
share/
*-lock.json
apache/
frontend/dist