venv
env
*.pyc
staticfiles
.env
.env.development
settings.yml
.DS_Store
debug.log
*.swp
*.swo
impliu/static/CACHE/*
*.code-workspace
.vscode/*
frontend/.cache/
.mypy_cache
frontend/yarn-error.log
.idea
celerybeat-schedule
celerybeat.pid
yarn-error.log
.yalc
yalc.lock
bin/
include/
share/
*-lock.json
apache/
src/frontend/static
env/
node_modules
